.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 5px;
    height: 70px;
    min-height: 70px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
}

.navbar-menu {
    display: flex;
    gap: 20px;
}
.mobile-menu {
    position: absolute;
    top: 70px;
    right: 10px;
    width: 120px;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    gap: 5px;
}
.mobile-menu .nav-link, .mobile-menu .nav-btn {
    outline: none;
    text-decoration: none;
    color: #374151;
    width: 100%;
    padding: 4px 5px;
    border-radius: 5px;
}

.mobile-menu .nav-btn:focus, .mobile-menu .nav-link:focus {
    color: #2563eb;
    background-color: #eff6ff;
}
.menu-btn {
    display: none !important;
}

.navbar-menu .nav-link {
    text-decoration: none;
    color: #374151;
    font-weight: 500;
    padding: 5px 10px;
}
.navbar-menu span {
    color: #374151;
    font-weight: 500;
    padding: 5px 10px;
}
.navbar-menu .nav-link:hover {
    color: #2563eb;
    background-color: #eff6ff;
    border-radius: 6px;
}

.navbar-menu .nav-btn {
    text-decoration: none;
    background-color: #2964e4;
    padding: 10px 15px;
    border-radius: 15px;
    color: white;
    font-weight: 600;
}
.navbar-menu .nav-btn:hover {
    background-color: #1c4ac7;
}
.navbar-logo-text {
    color: #111827;
}
.navbar-logo-highLight {
    color:#2563eb;
}

@media (max-width: 768px) {
    .navbar-menu {
        display: none;
    }
    .menu-btn {
        display: flex !important;
    }
    
    .navbar-logo {
        font-size: 2rem !important;
    }
    .navbar-logo-text {
        font-size: 1.5rem;
    } 
}